@each $i in 10, 20, 30, 40, 50
  .mb#{$i}
    margin-bottom: #{$i}px
  .mt#{$i}
    margin-top: #{$i}px

body
  padding-top: 0px
  border-top: 3px solid $tgreen
.small-line
  line-height: 10px
a
  color: $tblue
a:hover
  color: $tblue-lite

input[type=number]
  width: 200px
