.col-sm-4.text-right
  %a.site-name(href="/")
    %h1
      %i.size-26.fa.fa-briefcase
      Тарифы
  %p.small.small-line на расчетно-кассовое обслуживание
  %p.small-line
    в
    %strong городе Чебоксары